<a href="https://colab.research.google.com/github/hluling/ph-dash-dev/blob/master/ph_dash_dev.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook setup and Github setup
2022/04/22

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
# %cd /content/drive/MyDrive/Github
# !git init ph-dash-dev
# %cd ph-dash-dev
# !git remote add origin https://github.com/hluling/ph-dash-dev
#!git add .
# !git commit -m 'repo setup'
# !git config --global user.email "hluling@outlook.com"
# !git push -u origin master

# Install Libraries

In [ ]:
import requests
import pandas as pd
from io import StringIO

## Query API

In [ ]:
response = requests.get("https://api.gdeltproject.org/api/v2/tv/tv?query=%22puerto%20rico%22%20(station:CNN%20OR%20station:FOXNEWS)&mode=timelinevol&format=html&datanorm=perc&timelinesmooth=5&datacomb=sep&last24=yes&timezoom=no&STARTDATETIME=20170829120000&ENDDATETIME=20171007120000")

In [ ]:
response_csv = requests.get("https://api.gdeltproject.org/api/v2/tv/tv?query=%22puerto%20rico%22%20(station:CNN%20OR%20station:FOXNEWS)&mode=timelinevol&format=html&datanorm=perc&timelinesmooth=5&format=csv&datacomb=sep&last24=yes&timezoom=no&STARTDATETIME=20210829120000&ENDDATETIME=20211007120000")
text=StringIO(response_csv.content.decode('utf-8'))

In [ ]:
df=pd.read_csv(text)

In [ ]:
df

   Date (Daily +00:00: 08/29/2021 - 10/07/2021)   Series   Value
0                                    2021-09-02      CNN  0.0170
1                                    2021-09-03      CNN  0.0170
2                                    2021-09-04      CNN  0.0170
3                                    2021-09-05      CNN  0.0042
4                                    2021-09-06      CNN  0.0042
..                                          ...      ...     ...
67                                   2021-10-03  FOXNEWS  0.0241
68                                   2021-10-04  FOXNEWS  0.0241
69                                   2021-10-05  FOXNEWS  0.0241
70                                   2021-10-06  FOXNEWS  0.0098
71                                   2021-10-07  FOXNEWS  0.0049

[72 rows x 3 columns]

## Search API

In [ ]:
query_url = "https://api.gdeltproject.org/api/v2/tv/tv?query=(kremlin%20OR%20russia%20OR%20putin)%20(ukraine%20OR%20ukrainian%20OR%20zelenskyy)%20market:%22National%22&mode=timelinevol&format=html&datanorm=perc&format=csv&timelinesmooth=5&datacomb=sep&timezoom=yes&STARTDATETIME=20220224120000&ENDDATETIME=20220420120000"

In [ ]:
def to_df(queryurl):
  response = requests.get(queryurl)
  content_text = StringIO(response.content.decode('utf-8'))
  df = pd.read_csv(content_text)
  return df

In [ ]:
test_df = to_df(query_url)

In [ ]:
test_df # each day corresponds to a group of channels
# value is the percentage of number of matched 15-seconds clips over the number of monitored 15-seconds clips (because stations may devote different lengths of time to tv news)
# if want raw count, then set datanorm=raw (now datanorm=perc)

    Date (Daily +00:00: 02/24/2022 - 04/20/2022)     Series   Value
0                                     2022-02-28  BLOOMBERG  4.6970
1                                     2022-03-01  BLOOMBERG  4.3581
2                                     2022-03-02  BLOOMBERG  3.7279
3                                     2022-03-03  BLOOMBERG  4.4902
4                                     2022-03-04  BLOOMBERG  4.5878
..                                           ...        ...     ...
463                                   2022-04-16      MSNBC  3.8632
464                                   2022-04-17      MSNBC  3.8441
465                                   2022-04-18      MSNBC  3.6199
466                                   2022-04-19      MSNBC  3.7091
467                                   2022-04-20      MSNBC  3.4383

[468 rows x 3 columns]

In [ ]:
test_df.head(70)